.header{
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7)) ,
    url("../image/header.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.slide{
    height: 600px;
}